@charset "utf-8";
/* CSS Document */
<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}


.header {
	background-color: #f1f1f1;
	padding: 30px;
	text-align: center;
	background-image: url(../image/%E8%83%8C%E6%99%AF%E5%9B%BE.png);
	font-size: 20px;
	color: #FF0;
	
}


.topnav {
  overflow: hidden;
  background-color:#066;
}
 

.topnav a {
  float: left;
  display: block;
  color:#FFF;
  text-align: center;
  padding: 14px 80px;
  text-decoration: none;
}
 
.topnav a:hover {
  background-color:#F00;
  color:#0FF;
}
 .footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 20px;
            margin-top: 20px;
        }
		
.feature-section {
            display: flex;
            justify-content: space-between; 
            padding: 20px;
            margin: 20px 0; 
        }
        .feature-section img {
            width: 45%; 
            height: auto;
        }
        .feature-section .text-description {
            width: 45%; 
            padding-left: 20px; 
        }
		
</style>
