@charset "utf-8";

  body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
			background-image:url(1.png);
			background-size:cover;
			background-position:center;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
			 
        }

        .login-form {
            width: 18rem;
            background-color: white;
            padding: 30px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
			 margin-top: 120px;
        }
         .header {
            background-color:#FF0;
            color: white;
            padding: 20px 20px;
            text-align: center;
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 103;
			background-image:url('../5464u59/%E5%B1%8F%E5%B9%95%E6%88%AA%E5%9B%BE%202024-06-14%20131631.png');
        }
		  .menu {
            background-color:#066;
            padding: 43px 20px;
            position:fixed;
            width: 100%;
            top: 80px;
            z-index: 102;
			overflow: hidden;
        }

        .menu a {
             color:#FFF;;
            text-decoration: none;
			float: left;
            display: block;
            text-align: center;
            padding: 14px 80px;
            margin: 0 10px;
        }

        .menu a:hover {
            text-decoration: underline;
			color:#FFF;
        }
        .form-group {
            margin-bottom: 15px;
        }

        .form-control {
            width: 100%;
            padding: 8px 4px;
            box-sizing: border-box;
            border: 1px solid #ced4da;
            border-radius: 4px;
        }

        .form-control:focus {
            border-color: #80bdff;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }

        .login-btn {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .login-btn:hover {
            background-color: #0056b3;
        }